<h1>Edit Figure</h1>

<form action="/figures/<%= @figure.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="figure_name">Figure Name:</label>
  <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"><br>

  <p><b>Choose an existing Title and/or create a new Title:</b></p>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>" <%= 'checked' if @figure.titles.include?(title) %>>
      <%= title.name %>
    </input><br>
  <% end %>

  <label for="new_title">New Title Name:</label>
  <input type="text" name="title[name]" id="new_title"><br>


  <p><b>Choose an existing Landmark and/or create a new Landmark:</b></p>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>" <%= 'checked' if @figure.landmarks.include?(landmark) %>>
      <%= landmark.name %>
    </input><br>
  <% end %>

  <label for="new_landmark">New Landmark Name:</label>
  <input type="text" name="landmark[name]" id="new_landmark"><br>

  <label for="year">Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="year" ><br>

  <input type="submit" value="Edit Figure">
</form>
